<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$ docroot/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ docroot/$1 [L]
</IfModule>